<p style="color: green"><%= notice %></p>

<h1 class="titulo_contacto">Contactos</h1>

<div class="def_contacto" id="contactos">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
  incididunt ut labore et dolore magna aliqua. Eget lorem dolor sed viverra ipsum nunc. 
  Mi sit amet mauris commodo quis. Commodo elit at imperdiet dui accumsan sit amet nulla 
  facilisi. Nunc vel risus commodo viverra maecenas accumsan lacus. Habitant morbi tristique 
  senectus et netus et malesuada fames ac. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Imperdiet dui accumsan sit amet nulla 
  facilisi morbi tempus iaculis. A scelerisque purus semper eget duis at tellus at urna.

  Lacus sed viverra tellus in hac habitasse. Ullamcorper velit sed ullamcorper morbi. 
  Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Massa ultricies mi quis hendrerit 
  dolor magna eget est. Suspendisse sed nisi lacus sed viverra tellus in. Cras fermentum odio 
  eu feugiat. Quam quisque id diam vel quam. Aliquet eget sit amet tellus cras adipiscing 
  enim eu. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Nullam 
  eget felis eget nunc lobortis mattis. Maecenas sed enim ut sem. Aliquet bibendum enim 
  facilisis gravida neque. Eu feugiat pretium nibh ipsum consequat nisl vel pretium. 
  Tincidunt arcu non sodales neque sodales.</p>
</div>

<%= link_to "New contacto", new_contacto_path %>
