<p style="color: green"><%= notice %></p>

<h1 class="titulo_productos">Producto</h1>

<div class="contenedor_productos">
<div class="def_productos" id="productos">
  <p>En Phoenix Glass, aprovechamos la ceniza volante para crear una solución energética pionera. Nuestra innovación convierte un subproducto 
  industrial en un generador de energía renovable a través de la fabricación de vidrio fotovoltaico. Actualmente en fase de prueba de laboratorio, 
  nos complace anunciar que planeamos presentar nuestro Producto Mínimo Viable (MVP) el 27 de junio.</p>

  <p>Históricamente, la ceniza volante de carbón ha encontrado aplicaciones en la construcción, siendo utilizada en cemento, hormigón y asfalto. 
  En 2021, una sola termoeléctrica chilena logró reciclar el 3% de sus cenizas volantes. En Phoenix Glass, vemos esta cifra como una oportunidad: aspiramos 
  a incrementar drásticamente este porcentaje y a reducir el impacto ambiental de las industrias en áreas de sacrificio.</p>

  <div class="video_productos">
    <%= video_tag "/videos/lamina.mp4", autoplay: true, muted: true%>
  </div>

  <p>Recientemente, en países como EE.UU., India y China, ha surgido un nuevo uso para la ceniza volante: la producción de vidrio. Sin embargo, con menos 
  de 5 publicaciones en total, se revela que esta es una tecnología en pleno desarrollo. Nos encontramos en lo que se conoce como un "Océano Azul", un mercado 
  emergente con gran potencial para posicionarnos como líderes.</p>
  
  <p>Además, nuestro proceso innovador es candidato para obtener una patente. Una vez que nuestro MVP esté listo, podemos avanzar en este aspecto, 
  fortaleciendo nuestra posición competitiva en el campo emergente de la energía fotovoltaica generada a través de vidrio producido a partir de cenizas 
  volantes. Esto también nos brinda la oportunidad de formar alianzas estratégicas con otras empresas para compartir costos de producción.</p>

  <div class="container">
    <div class="foto_producto"><%= image_tag("otros/frame2.png")%></div>
    <div class="texto_descriptivo">
      <p>Nuestro prototipo consiste en un vidrio fotovoltaico compuesto por dos placas de vidrio templado, con una lámina fotovoltaica en medio. Esta estructura 
      le otorga la capacidad de generar energía a partir de la luz solar. Ideal para instalarse como ventanas en edificios, brinda la posibilidad de autoabastecimiento 
      parcial o total.</p>

      <p>La verdadera innovación de este producto no es la idea del vidrio fotovoltaico en sí, sino la utilización de ceniza volante para la fabricación del vidrio, 
      en lugar de la arena de sílice convencional. Durante nuestra investigación del estado del arte, nos dimos cuenta de que no existen patentes globales referentes 
      a nuestro proyecto. Sin embargo, descubrimos una amplia gama de investigaciones científicas que validan nuestro proceso industrial y confirman las propiedades 
      físicas del vidrio producido a partir de ceniza volante.</p>
    </div>
  </div>

  <p>En conclusión, nuestro prototipo es altamente factible, respaldado por evidencia empírica sólida de investigaciones científicas revisadas por pares. 
  Estamos preparados y emocionados por hacer el primer intento de producto mínimo viable, un gran paso hacia un futuro energéticamente autosuficiente y sostenible.</p>
</div>
</div>
