/*----------------------------NAVEGACION----------------------------*/
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 1px 16px 33px -15px rgba(0,0,0,0.19);
    -webkit-box-shadow: 1px 16px 33px -15px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 16px 33px -15px rgba(0,0,0,0.19);
    font-size: 20px;
  }
  
.opt {
    float: right;
}

.opt a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 26px 26px;
    text-decoration: none;
}

.opt a:hover {
    background-color: #eeeeee;
}

.logo {
    float: left;
    padding: 10px 10px;
}  

.logo a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

/*-------------------------------Inicio--------------------------------*/
.titulo_inicio {
  text-align: center;
  font-size: 50px;
}

.contenedor_inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.def_inicio {
  align-self: center;
  text-align: justify;
  font-size: 20px;
  width: 1000px;
}

.video_inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*-----------------------------Productos-------------------------------*/
.titulo_productos{
  text-align: center;
  font-size: 50px;
}

.contenedor_productos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.def_productos {
  align-self: center;
  text-align: justify;
  font-size: 20px;
  width: 1000px;
}

/*-------------------------Modelo de Negocio---------------------------*/
.titulo_modelo {
  text-align: center;
  font-size: 50px;
}

.contenedor_modelo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.def_modelo {
  align-self: center;
  text-align: justify;
  font-size: 20px;
  width: 1000px;
}
/*------------------------------Nosotros-------------------------------*/
.titulo_nosotros {
  text-align: center;
  font-size: 50px;
}

.contenedor_nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta_nosotros {
  margin-left: 40px;
  margin-right: 40px;
  width: 300px;
  height: 350px;
  box-shadow: 0px 0px 53px -16px rgba(0,0,0,0.75);
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
}

.fotos_nosotros img {
  border-radius: 200px;
  margin-top: 45px;
}

.contenedor_fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

.def_nosotros {
  align-self: center;
  text-align: justify;
  font-size: 20px;
  width: 1000px;
}

/*------------------------------ Otros -------------------------------*/
.container {
  display: flex;
}

.foto_producto {
  flex: 1;
}

.texto_descriptivo {
  flex: 2;
  padding-left: 20px;
}