<p style="color: green"><%= notice %></p>

<h1 class="titulo_inicio">Phoenix Glass</h1>
<div class="contenedor_inicio">
<div class="def_inicio" id="inicios">
  <p>Phoenix Glass, líder en innovación y sostenibilidad, ofrece una solución revolucionaria al problema ambiental de la acumulación de cenizas volantes en Chile. 
  Este residuo, generado por las plantas termoeléctricas que representan el 23% de la matriz energética del país, asciende a alrededor de 772.000 toneladas anuales. 
  Estos residuos, que ocupan un espacio equivalente a 9,65 veces el tamaño del edificio de Innovación Anacleto Angelini, presentan un desafío tanto en almacenamiento 
  como en manejo.</p>

  <p>Consecuentemente, Phoenix Glass ha desarrollado un proceso de transformación de esta ceniza volante en vidrio templado de alta calidad. 
  Esta innovadora metodología no sólo da un uso práctico a un residuo industrial, sino que también contribuye significativamente a la descontaminación y 
  la gestión de residuos.</p>

  <p>La utilización de este vidrio en la fabricación de paneles solares tiene un impacto doblemente positivo. 
  No sólo se reduce la dependencia de la extracción de arena de sílice, sino que también se fomenta la transición hacia una energía más limpia y renovable, 
  contribuyendo así a la sostenibilidad del sector energético.</p>

  <p>El proyecto de Phoenix Glass, por tanto, responde de manera efectiva a dos problemas ambientales de gran magnitud: la gestión de las cenizas volantes 
  y la promoción de energías renovables. De esta manera, Phoenix Glass no sólo aporta a la reducción de la contaminación y el manejo de residuos de las termoeléctricas, 
  sino que también apoya la transición hacia una energía más limpia y sostenible.</p>
  
  <p>Estamos convirtiendo un problema de contaminación en una oportunidad de crecimiento sostenible, beneficiando tanto al medio ambiente como a la sociedad, 
  sin comprometer la calidad y la eficiencia de los paneles solares.</p>
</div>
</div>
