<p style="color: green"><%= notice %></p>

<h1 class="titulo_inicio">Phoenix Glass</h1>
<div class="contenedor_inicio">
<div class="def_inicio" id="inicios">
  <p>Phoenix Glass, donde la innovación y la sostenibilidad se encuentran para moldear el futuro de la energía solar. 
  Creamos un vidrio templado para la produccion de vidrios fotovoltaicos, a partir de ceniza volante de carbón, un subproducto de las plantas termoeléctricas. 
  Este enfoque no solo proporciona un uso práctico y valioso para un residuo industrial, sino que también contribuye a la descontaminación del medio ambiente 
  y a la transición hacia una energía más limpia y renovable.</p>
  <div class="video_inicio">
    <%= video_tag "/videos/Vidrio.mp4", width: "1000px", heigth: "auto", autoplay: true, muted: true%>
  </div>

  <p>Cada año en Chile, se generan aproximadamente 912.409 toneladas de ceniza volante de carbón. Este volumen de residuos, equivalente a casi 
  diez veces el espacio que utiliza el edificio de Innovación Anacleto Angelini, plantea serios desafíos de almacenamiento y disposición. 
  Sin embargo, con Phoenix Glass, esta ceniza se transforma en vidrio templado de alta calidad para la fabricación de vidrios fotovoltaicos.</p>

  <p>La utilización de este vidrio en la fabricación de vidrios fotovoltaicos tiene un impacto doblemente positivo. 
  No sólo se reduce la contaminacion de la ceniza volante y la dependencia de la extracción de arena de sílice, sino que también se fomenta la transición 
  hacia una energía más limpia y renovable, contribuyendo así a la sostenibilidad del sector energético.</p>

  <p>Nuestra misión es abordar el problema crítico de la gestión de residuos de la producción de energía. En 2022, el 23% de la energía 
  producida en Chile provenía de la combustión de carbón, generando alrededor de 40 toneladas de ceniza volante por cada GWh de energía 
  eléctrica producida. Esta ceniza, depositada en grandes monorellenos, libera partículas contaminantes y metales pesados en el suelo y el agua, 
  amenazando la salud del medio ambiente, la fauna y las personas.</p>

  <p>Con Phoenix Glass, no solo resolvemos este problema, sino que también impulsamos el crecimiento de la industria de la energía solar.
  Al ofrecer una opción más sostenible y económica para la fabricación de vidrios fotovoltaicos, estamos ayudando a acelerar la transición
  hacia una energía más limpia y renovable.</p>
  
  <p>Estamos convirtiendo un problema de contaminación en una oportunidad de crecimiento sostenible, beneficiando tanto al medio ambiente como a la sociedad, 
  sin comprometer la calidad y la eficiencia de los paneles solares.</p>

  <p>Únase a nosotros en nuestro compromiso con un futuro más limpio y sostenible. Con Phoenix Glass, estamos dando un paso adelante hacia un 
  mundo donde la energía se produce de manera sostenible y los residuos se convierten en soluciones.</p>
</div>
</div>


