<p style="color: green"><%= notice %></p>

<h1 class="titulo_modelo">Modelo de Negocios</h1>

<div class="contenedor_modelo">
<div class="def_modelo" id="negocios">
 <p>Phoenix Glass se encuentra en una posición privilegiada para capitalizar una significativa oportunidad de negocio en la industria de la energía sostenible y 
  la gestión de residuos. Con 28 termoeléctricas en Chile y alrededor de 75 en América Latina, ofrecemos una solución innovadora para una problemática común.</p>

  <p>En la actualidad, Chile cuenta con una producción de energía solar equivalente a 26.573.333 paneles solares, y esperamos que estas cifras aumenten a 
  medida que más personas y empresas adopten las energías limpias. La implementación de nuestra ceniza volante de carbón en la producción de vidrios fotovoltaicos
  puede reducir significativamente los costos para todas las industrias involucradas. En el caso de las termoeléctricas, nuestros vidrios fotovoltaicos ofrecen una 
  alternativa de reciclaje que puede disminuir los costos de mantenimiento actuales de 6.2 millones de dólares anuales.</p>

  <p>Además, tanto empresas como hogares que buscan ahorrar en costos de electricidad y alcanzar la autosuficiencia energética pueden beneficiarse de nuestros productos. 
  Proponemos una revolución sostenible: transformar edificios en centrales eléctricas autosuficientes y ecológicas con nuestros vidrios fotovoltaicos.</p>

  <p>Nuestro proyecto se basa en el reciclaje de desechos de termoeléctricas para producir vidrio para vidrios fotovoltaicos, previniendo su acumulación en el 
  ecosistema y protegiendo la salud pública. Además, reducimos la dependencia de la arena, contribuyendo a la reducción de la huella de carbono y del uso de energía.</p>

  <p>Las oportunidades para escalar nuestro proyecto son enormes. La existencia de otras 72 termoeléctricas en Chile y América Latina nos brinda la oportunidad 
  de expandir nuestro impacto positivo. Además, la energía solar es un sector en rápido crecimiento. Según la Agencia Internacional de Energía, se espera que los 
  paneles solares generen más de 3 terawatts de energía para 2030, posicionando a la energía solar como la principal fuente de electricidad a nivel mundial. 
  Por su parte, el mercado de vidrios fotovoltaicos creció un 1060% entre 2017 y 2022, y se espera que crezca un 324% más a partir de su tamaño en 2022.</p>

  <p>Finalmente, la ley chilena 20.920 sobre la gestión de residuos de la industria ofrece una oportunidad de negocios para Phoenix Glass, ya que incentivamos el 
  reciclaje y ayudamos a las empresas a cumplir con las regulaciones del Ministerio del Medio Ambiente.</p>

  <p>Phoenix Glass ofrece una solución integral que satisface las necesidades de gestión de residuos de las termoeléctricas y los requisitos de costos 
  y sostenibilidad de los fabricantes de paneles solares. Aprovechando la creciente demanda de energías limpias y la necesidad de soluciones 
  efectivas de gestión de residuos, Phoenix Glass se posiciona como un actor crucial en la transición hacia un futuro más sostenible y ecológico.</p> 
</div>
</div>


