<p style="color: green"><%= notice %></p>

<h1 class="titulo_modelo">Modelo de Negocios</h1>

<div class="contenedor_modelo">
<div class="def_modelo" id="negocios">
  <p>Phoenix Glass se encuentra en una posición privilegiada para capitalizar una significativa oportunidad de negocio en la industria 
  de la energía sostenible y la gestión de residuos. El proyecto se centra en dos segmentos clave: las 28 termoeléctricas operativas en Chile 
  y los fabricantes de paneles solares. Estos últimos representan una creciente demanda, con una capacidad de generación actual equivalente a 26.573.333 
  paneles solares y con expectativas de un crecimiento significativo en los próximos años.</p>
  
  <p>Aprovechando los residuos de las termoeléctricas, que actualmente producen alrededor de 772.000 toneladas de cenizas volantes al año, 
  Phoenix Glass puede ofrecer una solución sostenible y económicamente atractiva. En la actualidad, el costo anual de mantenimiento de estas cenizas 
  asciende a unos 6,2 millones de dólares. La transformación de estas cenizas en vidrio templado para paneles solares, no sólo disminuye estos costos 
  para las termoeléctricas sino que también reduce los costos de producción de los paneles solares en un 13%, beneficiando a los fabricantes.</p>
  
  <p>La demanda de energía solar ha experimentado un crecimiento exponencial en Chile, con un aumento del 340% entre 2017 y 2022, y se prevé la instalación 
  de 270 millones de paneles solares para 2050. Con la cantidad de cenizas volantes generadas en un año en Chile, Phoenix Glass tendría la capacidad de 
  producir el vidrio templado para casi 29 millones de paneles solares de 300W cada uno.</p>
  
  <p>La oportunidad de negocio no se limita a Chile. La existencia de otras 75 termoeléctricas en funcionamiento en Latinoamérica representa 
  una oportunidad para la expansión del modelo de Phoenix Glass. Además, el creciente interés mundial por la energía solar, con una capacidad de 
  paneles solares instalados a nivel global de 714 gigawatts en 2020 y proyectada a más de 3 terawatts en 2030, indica un mercado emergente en 
  rápido crecimiento.</p>
  
  <p>La legislación chilena también respalda la propuesta de Phoenix Glass, con la Ley 20.920 que promueve el reciclaje de residuos industriales 
  y establece la Responsabilidad Extendida del Productor. Además, Phoenix Glass tiene la oportunidad de diversificar su oferta de paneles solares 
  para soluciones específicas, como iluminación pública, bombeo de agua, generadores de emergencia y sistemas híbridos de energía.</p>
  
  <p>Phoenix Glass ofrece una solución integral que satisface las necesidades de gestión de residuos de las termoeléctricas y los requisitos de costos 
  y sostenibilidad de los fabricantes de paneles solares. Aprovechando la creciente demanda de energías limpias y la necesidad de soluciones 
  efectivas de gestión de residuos, Phoenix Glass se posiciona como un actor crucial en la transición hacia un futuro más sostenible y ecológico.</p>
</div>
</div>

